<ion-tabs>
  <ion-tab tabIcon="game-controller-b" tabTitle="Jogar" [root]="tabPlay"></ion-tab>
  <ion-tab tabIcon="clipboard" tabTitle="Regras" [root]="tabRules"></ion-tab>
  <ion-tab tabIcon="information-circle" tabTitle="Sobre" [root]="tabAbout"></ion-tab>
</ion-tabs>