<!--
  Generated template for the PlayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Jogar</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="folder"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div padding-left padding-right>
    <button ion-button round block (tap)="sort()">Sortear Carta</button>
  </div>

  <img src="{{ card.image }}" alt="" (tap)="showRule()">
</ion-content>
