page-play {
    .scroll-content{
        overflow-y: hidden;

        button{
            margin-bottom: 20px;
        }

        img{
            display: block;
            margin: 0 auto;
            border: 1px solid #333;
            padding: 5px;
            border-radius: 10px;
        }
    }
}
